html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: Droid Sans Mono;
    color: #2d2d2d;
}
.settings {
    background-color: #e5e5e5;
    overflow: hidden;
    height: 100%;
}
.headerbar {
    height: 36px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
    text-align: center;
}
.hleft {
    float: left;
    padding-left: 5px;
    padding-top: 6px;
    z-index: 1;
}
.nav {
    height: 24px;
    width: 24px;
    margin: auto;
    border-radius: 15px;
    background-color: #2d2d2d;
}
.nav div {
    padding-top: 3px;
    color: #e5e5e5;
}
#sback {
    background-color: #268bd2;
}
#shome {
    background-color: #d64937;
}
.hcenter {
    position: fixed;
    left: 50%;
    top: 8px;
    text-align: center;
    width: 50px;
    margin-left: -25px;
    z-index: 0;
}
.hright {
    float: right;
    padding-right: 5px;
    padding-top: 8px;
    z-index: 1;
}
.hright .search input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: #2d2d2d;
    z-index: 1;
}
.search {
    height: 20px;
    width: 100px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 2px;
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
    padding-left: 2px; 
    padding-right: 2px;
}
.search:hover {
    border-color: #d64937;
}
.content {
    width: 100%;
    overflow-y: auto;
}
.category {
    clear: both;
    width: 100%;
    height: auto;
}
.ctitle {
    width: 90%;
    color: #444444;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
    font-size: 24px;
    font-weight: lighter;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
}
.plugs {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.plug {
    float: left;
    text-align: center;
    font-size: 12px;
    width: 70px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
}
.plug .icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: 32px;
    width: 32px;
    border-radius: 18px;
    border-color: #2d2d2d;
    border-style: solid;
    border-width: 2px;
    background-color: #e5e5e5;
}
.plug .icon:hover {
    background-color: #f9f9f9;
    border-color: #d64937;
}
.attributes {
    width: 60%;
    max-width: 350px;
    min-width: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.attribute {
    height: auto;
    min-height: 26px;
}
.aname {
    float: left;
    margin-left: 10%;
    clear: left;
    height: auto;
}
.ainput {
    float: right;
    margin-right: 10%;
    clear: right;
    height: auto;
}
.ainput[type=text] {
    padding: 2px;
    outline: none;
    width: 25px;
    background-color: #f9f9f9;
    color: #2d2d2d;
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    border-radius: 2px;
    height: auto;
}
.ainput[type=text]:focus {
    border-color: #d64937;
}
select {
    outline: none;
    border: #666666 1px solid;
    background-color: #e5e5e5;
}
select:hover {
    background-color: #f9f9f9;
}
option {
    background-color: #e5e5e5;
    color: #2d2d2d;
    border: none;
    outline: none;
}
option:hover {
    background-color: #d64937;
}
